header {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 112px;

    position: absolute;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Light/Background Elevation/24 */
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
}

.fixed {
    position: fixed;
    z-index: 999;
}

header .left-col {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 268.67px;
    height: 40px;
    left: 112px;
    top: 20px;
}

header .left-col .logo {
    position: static;
    width: 116.67px;
    height: 40px;
    left: 0px;
    top: 0px;
}

header .left-col .lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 120px;
    height: 32px;
    left: 148.67px;
    top: 4px;
    margin-left: 32px;
}

header .left-col .lang img {
    position: static;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;
}

header .left-col .lang span {
    position: static;
    width: 80px;
    height: 28px;
    left: 40px;
    top: 2px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    letter-spacing: 0.0125em;
    /* Light/Gray/90 */
    color: rgba(36, 38, 46, 0.8);
    margin-left: 8px;
}

header .right-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 132px;
    height: 48px;
    left: 1196px;
    top: 16px;
}

header .right-col button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    border:none;

    position: static;
    width: 132px;
    height: 48px;
    left: 0px;
    top: 0px;

    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #FCFCFD;
    align-items: center;

    background: #3A75EA;
    /* Light/Shadow Elevation/03 */
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.12);
}

header .right-col button:active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    /* Light/Primary/60 */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3A75EA;
    box-shadow: 0px 0px 0px 4px rgba(1, 122, 255, 0.24);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    left: 0px;
    top: 80px;
}

.banner {
    position: static;
    /*height: 696px;*/
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Light/Gray/0 */
    background: #FCFCFD;
    border-radius: 0px;
}

.platform {
    position: absolute;
    width: calc(50% - 50%/4);
    height: calc((50% - 50%/4)/4);
    left: 8%;
    top: calc(75% + 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.platform-item {
    padding: 12px 22px;
    background: #FCFCFD;
    text-align: center;
}

.platform-active {
    background: #3A75EA;
    /* Light/Gray/20 */
    border: 2px solid rgba(252, 252, 253, 0.4);
    box-sizing: border-box;
}

.platform-active p {
    color: white;
}

.banner img.component1 {
    position: absolute;
    width: 512px;
    height: 364px;
    right: 116px;
    top: calc(50% - 364px/2);
}

.banner img.component2 {
    position: absolute;
    width: 223px;
    height: 111.5px;
    right: 116px;
    top: 23.5px;

    mix-blend-mode: multiply;
}

.banner img.component3 {
    position: absolute;
    width: 450px;
    height: 328px;
    left: 0px;
    bottom: 0px;
}

.banner img.component4 {
    position: absolute;
    width: 500.78px;
    /*height: 1468.67px;
    left: -478px;
    top: 174.3px;*/
    height: 366.67px;
    left: 0px;
    top: 323.3px;

    mix-blend-mode: multiply;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 615px;
    height: 557px;
    left: calc(50% - 615px/2 - 294.5px);
    top: calc(50% - 557px/2 - 0.5px);
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 615px;
    height: 345px;
    left: 0px;
    top: 0px;
}

.banner-text1{
    position: static;
    width: 615px;
    height: 273px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

